@*@model Webapiusingsp.Models.Userclass*@

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h2>Index</h2>
    @*<a href="#" class="btn btn-info" onclick="AddNewUser(0)">Add New User</a> <br /><br />*@
<button type="button" class="btn btn-primary" id="CreateUser" data-target="#Adduser" data-toggle="modal">Create User</button>
<br/>
<br/>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    UserName
                </th>
                <th>
                    Password
                </th>
                <th>
                    Gender
                </th>
                <th>
                   Date Of Birth
                </th>
                <th>
                    EmailId
                </th>
                <th>
                    Mobile
                </th>
                <th>
                    LandLine
                </th>
                <th>
                    Address
                </th>
                <th>
                    Pincode
                </th>
                @*<th>
                    Action(Edit)
                </th>
                <th>
                    Action(Delete)
                </th>*@
            </tr>
        </thead>
        <tbody class="tbody">
        </tbody>
    </table>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="modal" id="Adduser" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add User</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <lable>Name:</lable>
                                    <input class="form-control" placeholder="Name" type="text" id="InputName" />
                                </div>
                                <div class="form-group">
                                    <lable>UserName:</lable>
                                    <input class="form-control" placeholder="UserName" type="text" id="InputUsername" />
                                </div>
                                <div class="form-group">
                                    <lable>Password:</lable>
                                    <input class="form-control" placeholder="Password" type="password" id="InputPassword" />
                                </div>
                                <div class="form-group">
                                    <lable>Gender:</lable>
                                    <input class="form-control" placeholder="Gender" type="text" id="InputGender" />
                                </div>
                                <div class="form-group">
                                    <lable>Date Of Birth:</lable>
                                    <input class="form-control" placeholder="Date of Birth" type="date" id="InputDOB" />
                                </div>
                                <div class="form-group">
                                    <lable>EmailId:</lable>
                                    <input class="form-control" placeholder="EmailId" type="email" id="InputEmailId" />
                                </div>
                                <div class="form-group">
                                    <lable>MobileNo:</lable>
                                    <input class="form-control" placeholder="MobileNo" type="tel" id="InputMobile" />
                                </div>
                                <div class="form-group">
                                    <lable>LandLine:</lable>
                                    <input class="form-control" placeholder="LandLine" type="tel" id="InputLandLine" />
                                </div>
                                <div class="form-group">
                                    <lable>Address:</lable>
                                  <textarea class="form-control" placeholder="address" id="InputAddress"></textarea>
                                </div>
                                <div class="form-group">
                                    <lable>
                                        <lable>Pincode:</lable>
                                        <input class="form-control" placeholder="Pincode" type="tel" id="InputPincode" />
                                    </lable>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <input id="btnSave" class="btn btn-success" type="button" value="Save" />
                            <input id="btnCancel" class="btn btn-danger" type="button" value="Cancel" data-dismiss="modal" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {
        loadData();
    });
    function loadData() {
        $.ajax({
            async: true,
            url: '/User/Getusers',
            type: 'Get',
            contentType: 'application/json;charset=utf-8',
            dataType: 'JSON',
            success: function (response) {
                var html = '';
                $.each(response, function (key, value) {
                    html += '<tr>';
                    html += '<td>' + value.Id + '</td>';
                    html += '<td>' + value.Name + '</td>';
                    html += '<td>' + value.UserName + '</td>';
                    html += '<td>' + value.Password + '</td>';
                    html += '<td>' + value.Gender + '</td>';
                    html += '<td>' + value.DOB + '</td>';
                    html += '<td>' + value.EmailID + '</td>';
                    html += '<td>' + value.Mobile + '</td>';
                    html += '<td>' + value.Landline + '</td>';
                    html += '<td>' + value.Address + '</td>';
                    html += '<td>' + value.PinCode + '</td>';
                    html += '</tr>'
                });

                $('.tbody').html(html)
            },
            error: function () {
                alert('There is Problem is Users Table')
            }
        });
    }
  
</script>
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Landline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PinCode)
        </th>
        <th> Operations</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Landline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PinCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>*@
