@model IEnumerable<Core__WebAPI_Client.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AddCustomer">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerLocation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerLocation)
            </td>
            <td>
                @Html.ActionLink("Details", "GetCustomer", "CustomerUI") |
                @Html.ActionLink("Update", "UpdateCustomer", new {  id=item.CustomerID }) |
                @Html.ActionLink("Delete", "DeleteCustomer", new {  id=item.CustomerID })
            </td>
        </tr>
}
    </tbody>
</table>
