@model IPagedList<Webapiusingsp.Student>

@{
    ViewBag.count=Session["Count"];
    ViewBag.Title = "Index";  
}
@using PagedList;
@using PagedList.Mvc;

<h2>Index</h2>
<br/>
<br />
@*<input type="radio" name="Type" value="PDF" />PDF
    <input type="radio" name="Type" value="Excel" />Excel


<input id="Submit1" type="submit" value="submit" />
<br/>*@
@using (Html.BeginForm("CheckRadio", "StudentUI", FormMethod.Get))
{
<div>
    <h5>Select Type:</h5>
    <div class="col-md-2">
        @Html.RadioButton("Type","PDF") PDF
        </div>
    <div class="col-md-2">
        @Html.RadioButton("Type","Excel") Excel
        </div>


    </div>
<input type="submit" value="Export" class="btn btn-primary"/>
}
<br />
<br/>

@using (Html.BeginForm("Import", "StudentUI", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
        <div class="form-group">

            <div class="control-label col-md-2">Excel:</div>
            <div class="col-md-10">
                <input type="file" id="FileUpload" name="FileUpload" class="" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10"><br/>
                <input type="submit" value="Import" id="btnSubmit" class="btn btn-primary" />

            </div>
        </div>
    @*<label>Count:</label> @ViewBag.count*@
    @*<link href="~/Scripts/sweetalert.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/sweetalert.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        //$('#btnSubmit').click(function (e)
            window.onload = function (){
            var s="@(ViewBag.count)"
             swal(s, "success");
        return false;
    };
    </script>*@
    if (ViewBag.count != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("Count of Inserted Records:" + "@ViewBag.count");
            };
        </script>
       }


}
<br/>
<br/>

<br/>
<br/>
<br/>
<br/>

@using (Html.BeginForm("Index", "StudentUI", FormMethod.Post))
{
    <label>Search By Name:</label>
    @Html.TextBox("search")
    <input type="submit" value="submit" class="btn btn-primary" />
}


@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<br/>
<br/>
<br/>
<table class="table">
    <tr>
        
        <th> @Html.ActionLink("Name", "Index", new { Order = ViewBag.SortingName }) </th> 
       
        <th>
            @Html.DisplayNameFor(model => model.First().StdEmail)
        </th>
        <th>
            <label>Action</label>
        </th>
    </tr>

@foreach (var item in Model.Reverse()) { 
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StdName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StdEmail)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StdId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StdId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StdId },
            new{ onClick="return confirm('Do u want to Delete?');"})
        </td>
    </tr>
}

</table>

@*@Html.PagedListPager(Model, i => Url.Action("Index", "StudentUI", new { i, search = Request.QueryString["search"] }))*@

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, i => Url.Action("Index", "StudentUI", new { i, Order = ViewBag.currentsortorder, current = ViewBag.current }))